@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

#wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Header Start  */
.navbar{
  width: 100%;
  /* height: auto; */
  display: flex;
  padding: 10px 50px;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.logo{
  width: 70px;
}

.logo-text {
  margin-left: -0.8rem;
  font-size: 28px;
}

.nav-items{
  display: flex;
  margin-right: 4em;
  padding: 0 4em;
  gap: 2rem;
}

.nav-items div {
  list-style-type: none;
}

.nav-items div  a {
  text-decoration: none;
  color: #1f1f1f;
  transition: font-weight 0.3s;
  font-size: 20px;
  line-height: 17px;
  display: inline-block;
}

.nav-items div a:hover {
  transform: scale(1.02);
  font-weight: bold;
}

/* Header End */

/* Hero Section Start  */
.hero-section {
  position:relative ;
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.hero-section-left{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  /* width: 100%; */
}

.faded-text {
  position: absolute;
  user-select: none;
  font-size: 6em;
  color: #e7e7e7;
  bottom: -16%;
  left: 0;
  font-weight: bold;
}

.absolute {
  position: absolute;
}

.hero-heading {
  font-size: 35px;
  color: #343d68;
  line-height: 30px;
}

.role{
  color: #4e45d5;
  font-weight: 800;
}

.hero-subheading {
  font-size: 45px;
  line-height: 40px;
}

.hero-description{
  font-size: 16px;
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn-pink{
  background-color: #e84949;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}

.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn-pink:hover::before {
  transform: scaleX(1);
}

.btn-pink:hover {
  border: solid 3px #e84949;
  color: black;
}

.hero-section-right{
  position: relative;
}

.user-image {
  padding: 2.5rem;
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
  width: 345px;
  height: 390px;
}

@keyframes scaleImage {
  0% {
    scale: 1;
    filter: grayscale(1);
  }

  50% {
    filter: grayscale(0);
    box-shadow: 3px 3px 10px black;
    scale: 0.9;
  }

  100% {
    scale: 1;
    filter: grayscale(1);
  }
}

.user-image img {
  z-index: -9;
  width: 100%;
}

.icons {
  z-index: 9;
}

.icon-dots {
  bottom: -1rem;
  right: 0;
  animation: dotsAnimation 5s linear infinite;
}

@keyframes dotsAnimation {
  50% {
    transform: translateY(-15px);
  }
}

.icon-zigzag {
  z-index: 10;
  top: 1.5em;
  left: -0.3em;
  animation: zigzagAnimation 5s infinite;
}

@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 3%;
  }
}

.icon-cube {
  z-index: 9;
  top: -0.8em;
  right: 1em;
  animation-name: cubeRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes cubeRotate {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

.icon-circle {
  z-index: 9;
  left: 0;
  bottom: 0;
  animation-name: shakeEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes shakeEffect {
  50% {
    left: 5%;
    bottom: 10%;
  }
}
.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;
  animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
  50% {
    top: 2%;
    left: 48%;
  }
}

/* Hero Section Ends  */

/* Projects Section  */
.project-section {
  margin-top: 4rem;
  background-color: #e7e7e7;
}

.page-header{
  color: #e84949;
  font-size: 90px;
  line-height: 75px;
  padding: 50px 0 30px;
  text-align: center;
}

.project-Container{
  display: flex;
  flex-direction: column;
  gap: 120px;
  /* width: 100%; */
}

#project1 {
  background-image: url( Project1.png);
  right: 5%;
}

#project2 {
  background-image: url(Project2.png);
  left: 5%;
}

#project3 {
  background-image: url(Project3.png);
  right: 5%;
}

#project4 {
  background-image: url(Project4.png);
  left: 5%;
}
@media (max-width: 1300px) {
.page-header {
   padding-top: 30px;
    color:#e84949;
     text-align: center; 
     font-size: 40px; }
  
  .project-container {
  
  padding: 5px; 
  margin: 10px;
  gap: 60px;
  }
  .project-card {
  width: 100%;
  height: 300px;
  }
  .project-card {
  background-size: cover;
  background-position: center;
  }
  .project-content {
  scale: 0.5;
  bottom: 0;
  left: 0;
  right:0;
  top:0;
  }
.project-content-left {
left: 0;
}
.project-heading {
 font-size: 40px;
width: 100%;
}
.project-sub-heading {
width: 100%;
}
#project2 {
margin-left:0;
}
#project4 {
margin-left: 0;
}
.project-skill-container {
width: 100%;
}
.project-skill {
width: 35px;
}
.project-card:hover .project-number {
   display: none;
}
project-card:hover .project-content { 
  scale: 0.55;
}}



.project-card {
  width: 80%;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  margin: 2rem auto;
  z-index: 2;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  z-index: 1;
  transition: 0.5s all;
  transform-origin: left;
  transform: scaleX(0);
}

.project-card:hover::before {
  transform: scaleX(1);
}

.project-number {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: #fff;
  display: none;
  z-index: 10;
  transition: 0.8s;
}

.project-number-left {
  top: -45px;
  left: -45px;
}

.project-number-right {
  top: -45px;
  right: -45px;
}

.project-card:hover .project-number {
  display: block;
}

.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding: 2em;
  bottom: 20%;
  position: absolute;
  z-index: 5;
  transition: all 0.4s;
}

.project-content-left{
  left: 10%;
}

.project-content-right {
  right: 10%;
}

.projectSkillsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 1em;
}

.project-skill {
  width: 40px;
}
.project-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.project-ubheading {
  font-size: 16px;
  font-style: italic;
  width: 70%;
}

.project-card:hover .project-content {
  transform: scale(1.1);
}

.btnGroup {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.btn-grp .btn-project {
  border: none;
  outline: none;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}

.icon:hover {
  color: #e84949;
}

/* Project Section End  */

/* Skill Section Start  */
.skills-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap: 30px;
}

.skill-container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.skill-heading{
  color: #e84949;
  font-style: bold;
  font-size: px;
  line-height: 70px;
}

.skill-heading span {
  font-size: 120px;
}

.skill-subheading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}
.skill-subheading p {
  margin: 15px 0;
}
.skill-container-right {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  justify-content: center;
}

.blob-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: blobAnimation 3s linear infinite;
}

@keyframes blobAnimation {
  50% {
    top: 54%;
    left: 46%;
  }
}

.skills-logo {
  width: 80px;
  transition: all 0.5s;
}

.skills-logo:hover {
  transform: scale(1.2);
}

.skills-faded-class {
  position: absolute;
  font-size: 12em;
  right: -9%;
  bottom: -35%;
  user-select: none;
  color: #e7e7e7;
  font-weight: bold;
}

/* Skill Section End  */

/* Contact Me Section Start  */
.contactMeSection {
  width: 100%;
  background-color: #e7e7e7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contactus-heading {
  font-size: 5em;
  padding-top: 2rem;
  color: #e84949;
}

.contactus-subheading{
  font-size: 3em;
  color: #343d68aa;
}

.contactus-form-container{
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.form  {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin: 2rem 5rem;
}

.formfield-container{
  width: 100%;
}

.formfield {
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  background: #ffffff97;
  font-weight: 500;
  margin: 17px;
}

.formfield:focus {
  border: none;
}

.formfield-textarea {
  height: auto;
  padding-top: 1rem;
}

#submit-btn{
  transition: 0.5s;
  border: none;
  font-size: 1.4rem;
  margin: 1rem 0;
}

#submit-btn:hover {
  transform: scale(0.9);
}

#submit-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
}

/* Contact Me Section Ends  */

/* Footer Section Start  */
footer {
  background: #343d68;
  position: relative;
  padding: 5rem;
}

.footer-faded-text {
  font-size: 5em;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  user-select: none;
}

.footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
}

.link-wrapper {
  display: flex;
  gap: 1.2em;
}

.link-wrapper div a {
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}

.link-wrapper div a:hover{
  color: #e84949;
}

.icon-wrapper{
  display: flex;
  gap: 1rem;
}